<h2>Edit Game</h2>

<form action='/games/<%= "#{@game.id}" %>' method="post">
  <label for="game[name]">Name:</label>
  <input name="game[name]" value='<%= "#{@game.name}" %>'>

  <label for="game[photo_url]">Photo URL:</label>
  <input name="game[photo_url]" value='<%= "#{@game.photo_url}" %>'>

  <label for="game[genre]">Genre:</label>
  <input name="game[genre]" value='<%= "#{@game.genre}" %>'>

  <input type="submit" value="Create">
</form>
