<h2>New Game</h2>

<form action="/games" method="post">
  <label for="game[name]">Name:</label>
  <input name="game[name]">

  <label for="game[photo_url]">Photo URL:</label>
  <input name="game[photo_url]">

  <label for="game[studio]">Studio:</label>
  <input name="game[studio]"> 

  <label for="game[genre]">Genre:</label>
  <input name="game[genre]">   

  <label for="game[release_date]">Release Date:</label>
  <input name="game[release_date]">

  <label for="game[rating]">Rating:</label>
  <input name="game[rating]"> 

  <input type="submit" value="Create">
</form>
